<div class="container-lg">
  <h3 class="mt-2 mb-5">Search nurse by its name</h3>
  <form
    class="d-flex col-12 col-md-6 col-lg-4"
    role="search"
  >
    <input
      class="form-control me-2"
      type="search"
      placeholder="Enter name"
      aria-label="Search"
      [(ngModel)]="name"
      name="name"
      (ngSubmit)="searchNurse()"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="results" *ngIf="nurses.length != 0">
    <table class="table table-sm" border="1">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody class="mb-4">
        <tr *ngFor="let nurse of nurses; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ nurse.name }}</td>
          <td>{{ nurse.surname }}</td>
          <td>{{ nurse.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #notFound>
  <p class="text-secondary my-4">No nurses found with this name</p>
</ng-template>
