<div style="height: 95vh" class="container-fluid">
  <div class="row h-100">
    <!-- Sidebar -->
    <nav class="col-md-2 d-flex flex-column bg-light">
      <div
        class="sidebar-sticky d-flex flex-column h-100"
      >
        <ul class="nav flex-column gap-3">
          <li class="nav-item">
            <a class="nav-link active"> Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Pacientes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Estadísticas </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex flex-column flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Dashboard</h1>
        <h3>Bienvenido/a {{nurseName}}</h3>
      </div>
      <div class="d-flex gap-2">
        <div class="w-75">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadística 1</h5>
              <p class="card-text">Datos aquí</p>
            </div>
          </div>
        </div>
        <div class="w-75">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadística 2</h5>
              <p class="card-text">Datos aquí</p>
            </div>
          </div>
        </div>
        <div class="w-75">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Estadística 3</h5>
              <p class="card-text">Datos aquí</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="card h-auto">
          <h5 class="card-title">Lista de Pacientes</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Paciente 1</td>
                <td>Edad 1</td>
                <td>Estado 1</td>
              </tr>
              <tr>
                <th>2</th>
                <td>Paciente 2</td>
                <td>Edad 2</td>
                <td>Estado 2</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Paciente 3</td>
                <td>Edad 3</td>
                <td>Estado 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
