<div style="height: 90vh" class="container mt-5">
  <div class="card-header">
    <h2 class="card-title">User Profile</h2>
  </div>
  <div class="card-body">
    <form class="user-info mb-3">
      <div class="form-group">
        <label for="name"><strong>Name:</strong></label>
        <input [(ngModel)]="name" type="text" class="form-control" id="name" name="name" value="{{name}}"/>
      </div>
      <div class="form-group">
        <label for="name"><strong>Surname:</strong></label>
        <input [(ngModel)]="surname" type="text" class="form-control" id="surname" name="surname" value="{{surname}}" />
      </div>
      <div class="form-group">
        <label for="email"><strong>Email:</strong></label>
        <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email" value="{{email}}" />
      </div>
      <div class="form-group">
        <label for="password"><strong>New password:</strong></label>
        <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password"/>
      </div>
    </form>
    <div class="profile-actions d-flex gap-4">
      <button class="btn btn-warning mr-2" (click)="onEdit()">
        Apply Changes
      </button>
      <button class="btn btn-danger" (click)="onDelete()" routerLink="">
        Delete Profile
      </button>
    </div>
  </div>
</div>
