table {
    margin: 50px;
    width: calc(100% - 100px); 
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  div{
    height: 500px;
  }